/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* reset and common styles */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #E55473;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* header styles */
.header{
    background-color: rgba(229, 84, 115,0.1);
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}
.banner-content h1{
    font-size: 65px;
    color: #272727;
}
.banner-content p{
    width: 630px;
    line-height: 24px;
    margin-top: 25px;
    color: #27272780;
}
.banner-content button{
    margin-top: 25px;
}
.banner-img img{
    width: 518px;
    margin-top: 50px;
}

/* featured styles */
.featured h3{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 25px;
    font-weight: 900;
    font-size: 25px;
    color: #272727;
}
.featured p{
    text-align: center;
    color: #27272780;
}
.featured-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.featured-img img{
    border-radius: 200px 200px 0 0;
    width: 400px;
    height: 520px;
}
.featured-img .featured-img1{
    background-color: #A7216250;
}
.featured-img .featured-img2{
    background-color: #0597A050;
}
.featured-img .featured-img3{
    background-color: #477D1150;
}
.featured-img figcaption{
    text-align: center;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #272727;
}
/* footer styles */
.footer{
    background-color: #111010;
    height: 250px;
    text-align: center;
    line-height: 20px;
}
.footer h1{
    color: #FFFFFF;
    line-height: 100px;
}
.footer span{
    color: #E55473;
}
.footer p{
    color: #FFFFFF;
    margin-bottom: 25px;
}
.footer small{
    color: #FFFFFF70;
    
}